@charset "utf-8";
/* CSS Document */


body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('/1.  Nacional Motos/Inicio de Sesion/Login/imagenes/Fondo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.formulario2 {
    margin: 10% auto;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.formulario2 h1 {
    font-size: 2.5rem;
    color: #6C3483;
    margin-bottom: 20px;
}

.formulario2 label {
    display: block;
    text-align: left;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 5px;
}

.formulario2 input {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario2 button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #6C3483;
    border-radius: 25px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario2 button:hover {
    background-color: #7D3C98;
}


@media (max-width: 768px) {
    .formulario2 {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .formulario2 {
        width: 90%;
    }

    .formulario2 h1 {
        font-size: 2rem;
    }

    .formulario2 input {
        font-size: 0.9rem;
    }

    .formulario2 button {
        font-size: 1rem;
    }
}